asgiref==3.11.0
beautifulsoup4==4.14.3
certifi==2025.11.12
cloudinary==1.44.1
crispy-bootstrap5==2025.6
Django==6.0
django-crispy-forms==2.5
django-debug-toolbar==6.1.0
flake8==7.3.0
flake8-quotes==3.4.0
flake8-variables-names==0.0.6
gunicorn==23.0.0
mccabe==0.7.0
packaging==25.0
pep8-naming==0.15.1
pillow==12.0.0
psycopg2-binary==2.9.11
pycodestyle==2.14.0
pyflakes==3.4.0
python-dotenv==1.2.1
setuptools==80.9.0
six==1.17.0
soupsieve==2.8.1
sqlparse==0.5.5
typing_extensions==4.15.0
urllib3==2.6.2
whitenoise==6.11.0
