body {
    margin-top: 20px;
}

.link-to-page {
    float: right;
    margin: 0 2px 0 2px;
}

.avatar-img {
    object-fit: cover;
    border-radius: 4px;
}

#logout-form {
  display: inline;
}
#logout-form button {
  padding: 0;
  margin: 0;
}